#picture{
	/*margin-right: 100px;
	margin-left: 100px;
	padding-top: 37px;
	padding-bottom: 37px;
	/*position: relative;*/
	float: left;
	width: 500px;
	height: 400px;
}
#container{
	/*margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;
	*/
	position: relative;

}
.page-header{
	/*float: right;*/
	/*position: relative;*/
}


